
 <div id="myChart" class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
     <div class="row">
     <div id="polls" class="col-xs-2">
      <ul ng-repeat="poll in polls">
       <li><a ng-click="viewPoll($event)" id="{{poll._id}}" href="">{{poll.title}}</a></li>
      </ul>
     </div>
     
     <div class="text-center col-xs-8">
      <h2 id="pollTitle">
        {{series}}
       </h2>
 
      <canvas id="myChart" class="chart chart-doughnut" chart-data="data" chart-labels="labels" 
      chart-series="series" chart-click="onClick" ></canvas>
            <div id="pollChoices" ng-show="eligible" class="input-group input-group-md">
                <input ng-model="choice" type="text" class="form-control" placeholder="Option..." aria-describedby="basic-addon1">
                <span class="input-group-btn" ng-click="addOption()"><a class="btn btn-success" href="">Add</a></span>
                
            </div>
     
     
      <span>{{error_message}}</span>

     </div>
    
    </div>
</div>